<h1>Movies</h1>

<table>
  <thead>
    <tr>
      <th>
        <%= link_to 'Title', movies_path(sort_by: 'title', direction: sort_direction('title')) %>
      </th>
      <th>
        <%= link_to 'Rating', movies_path(sort_by: 'rating', direction: sort_direction('rating')) %>
      </th>
      <th>
        <%= link_to 'Release Date', movies_path(sort_by: 'release_date', direction: sort_direction('release_date')) %>
      </th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.rating %></td>
        <td><%= movie.release_date%></td>
        <td>
          <%= link_to "Show", movie %> |
          <%= link_to "Edit", edit_movie_path(movie) %> |
          <%= link_to "Delete", movie, method: :delete, data: { confirm: "Are you sure?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <td>
        <%= link_to "New movie", new_movie_path %>
      </td>
    </tr>
  </tfoot>
</table>
