<p style="color: green"><%= notice %></p>

<%= render @movie %>

<div>
  <%= link_to "Edit this movie", edit_movie_path(@movie, request.query_parameters) %> |
  <%= link_to "Back to movies", movies_path(request.query_parameters) %>

  <%= button_to "Destroy this movie", @movie, method: :delete %>
</div>
